.page-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  background: url("/img/grass.jpg") repeat;
  background-size: 2.3vw;
  background-attachment: fixed;
  overflow-x: hidden;
}

.side-content {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #74c7a1;
  box-sizing: border-box;
  flex-grow: 1;
  margin-top: 4vh;
  padding-bottom: 15vh;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.pixelify-sans-title {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
  font-size: calc(3rem + 2vw);
  color: #f7faf7;
  padding: 15% 0 15% 0;
}

.search-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.search-input {
  border: 1px solid #ccc;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;
  width: 230px;
  height: 25px;
  border-radius: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:hover,
.search-input:focus {
  border-color: rgb(0, 0, 0); /* Border color when hovered or focused */
  cursor: pointer; /* Optional: change cursor to pointer */
}

.filter-label {
  margin: 0 10px; /* Space between search input and filter label */
}

.filter-select {
  padding: 5px;
  border-radius: 5px;
  height: 45px;
  width: 80px;
}

.types-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.type-label {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.type-label:hover {
  border-color: rgb(0, 0, 0);
}

.type-input:focus + .type-label {
  border-color: green;
  box-shadow: 0 0 5px #a0e0a0;
}

/* Error styles */
.type-label.error:hover {
  border-color: red;
}

.type-input.error:focus + .type-label {
  border-color: red;
  box-shadow: 0 0 5px #ff8a8a;
}

.main-table {
  width: calc(100% - 40px); /* Adjust for spacing if needed */
  margin: 0 auto; /* Center the table */
  border-collapse: collapse; /* Remove gaps between cells */
}

th {
  background-color: #04aa6d;
  color: white;
  padding: 10px;
  text-align: left;
}

tr {
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

tr:hover {
  background-color: #5eb18c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead th {
  border: 0.6px solid #74c7a1;
  padding: 10px;
  text-align: center;
}

thead th:first-child {
  border-left: none;
}

thead th:last-child {
  border-right: none;
}

th,
td {
  border-bottom: 1px solid #04aa6d;
}

.main-table th {
  cursor: pointer;
}
.id-img {
  display: flex;
  align-items: center;
}

.id-img img {
  height: 8vh;
  width: 5vw;
  margin-left: 5px;
}

.id-img p {
  margin: 0;
}
.type-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position above the tooltip trigger */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; /* Arrow pointing down */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.header-spacing {
  padding: 0.1vh; /* Adjusted padding */
  text-align: left;
}

.td-spacing p,
.pokemon-image img {
  margin: 0;
}

.sort-header {
  cursor: pointer;
}

.sort-header::before {
  content: url("/img/doubleArrow.png");
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sort-header.asc::before {
  content: url("/img/upArrow.png");
}

.sort-header.desc::before {
  content: url("/img/downArrow.png");
}

.sort-header.active-header {
  font-weight: bold;
}

.sort-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  display: none; /* Hidden by default */
}

.sort-header.active-header .sort-icon {
  display: inline;
}

.pokemon-cell {
  padding: 10px;
}

.pokemon-cell img {
  width: 50px;
  height: auto;
}

.sort-icon {
  width: 20px; /* Adjust size if needed */
  height: 20px; /* Adjust size if needed */
}

.filter-select,
.filter-label,
.type-label {
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 400 !important;
}

.pokemon-name:hover p {
  text-decoration: underline;
  font-weight: 500;
  color: rgb(236, 231, 231);
  cursor: pointer;
}
.td-center {
  text-align: center;
}

.pokemon-name {
  text-indent: 1.2vw;
}
.td-nums {
  width: 7vw;
}
