.page-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  height: 100%;
  background: url("/img/grass.jpg") repeat;
  background-size: 2.3vw;
  background-attachment: fixed;
  z-index: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #74c7a1;
  box-sizing: border-box;
  flex-grow: 1;
  margin-top: 4vh;
  padding-bottom: 15vh;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  overflow: hidden; /* Ensure overflow is hidden */
  position: relative; /* Change the positioning context to relative */
  z-index: 1;
  background-color: azure;
}

.semi-circle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 80vw;
  border-radius: 0 0 400vh 400vh;
  background-color: rgb(255, 0, 0);
  z-index: 0;
}

.side-content {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.pokemon-gif {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Higher than semi-circle */
  height: 20vh;
  width: 20vw;
}
