/* PokemonDetails.css */

.page-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  height: 100%;
  background: url("/img/grass.jpg") repeat;
  background-size: 2.3vw;
  background-attachment: fixed;
  z-index: 1;
}

.side-content {
  display: flex;
  flex-direction: column;
  width: 12%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.main-content-d {
  display: flex;
  flex-direction: column;
  width: 66%; /* Reduced width to create shrinking effect */
  background-color: #a4c6b7;
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 5%; /* Added margin to center the shrunken div */
  margin-right: 5%; /* Added margin to center the shrunken div */
  margin-top: 0.5vh;
  padding-bottom: 15vh;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
  border-bottom-left-radius: 2.5vw;
  border-bottom-right-radius: 2.5vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #9bd1b8;
}

.semi-circle {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
  background: url("/img/type/grass.png") no-repeat center;
  background-size: cover;
  width: 50vw;
  height: 50vh;
  border-radius: 50%;
  display: block;
}

.pokemon-gif {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: auto;
  min-height: 12vh;
}

.vitals-table {
  width: 100%;
  border-collapse: collapse;
}

.vitals-table th,
.vitals-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.vitals-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.cell-num {
  text-align: right;
}

.cell-barchart {
  width: 100px;
  position: relative;
}

.barchart-bar {
  height: 10px;
  background-color: #4caf50;
}

.barchart-rank-3 {
  background-color: #f39c12;
}

.barchart-rank-4 {
  background-color: #e74c3c;
}

.cell-total {
  font-weight: bold;
}
