.close-button img {
  width: 1.7vw;
  height: auto;
  cursor: pointer;
  margin: 2vh 14vw 1.9vh;
}

.details-text-info {
  margin: 3vh 0 0 1.5vw;
  color: black;
}

.details-text-info p {
  margin: 0.5vh 0 0;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e4e4;
  padding: 0 2vw;
  width: 100%;
  box-sizing: border-box;
}

.header h2 {
  margin-right: auto;
  color: white;
}

.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.2vh 2.05vh 0 0;
  background-color: white;
  border-radius: 1.5vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  height: 4.7vh;
  width: auto;
  z-index: 1;
}

.badge-icon {
  width: 1.5vw;
  height: auto;
  margin: 0 0.3vw 0 0.5vw;
  z-index: 1;
}

.badge-text {
  font-size: 0.9em;
  color: #333;
  text-align: center;
  z-index: 1;
}

.badge-container {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-top: 1vh;
  margin-left: 1vw;
}

.pokemon-gif {
  display: block;
  margin: 0 2vw;
  z-index: 1;
  height: 14vh;
  width: auto;

  max-width: 18vw;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  opacity: 1.5;
}

.top-text-section {
  margin: 0.5vh 0 0 1vw;
  padding: 0;
  color: black;
}

.top-text-section h3 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.top-text-section h4 {
  margin: 0.5vh 0 0;
  font-size: 1.5em;
  font-weight: normal;
  color: #777;
}

.graph {
  margin: 4vh 1vw 0;
}

.graph h4 {
  margin: auto;
}

.switch-arrow {
  position: absolute;
  width: 2vw;
  height: auto;
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 2;
}

.switch-arrow.left-arrow {
  left: 1vw;
}

.switch-arrow.right-arrow {
  right: 1vw;
}

.switch-arrow:hover {
  transform: translateY(-50%) scale(1.1);
  opacity: 0.8;
}

.switch-arrow:active {
  transform: translateY(-50%) scale(0.9);
  opacity: 1;
}

.pokemon-gif-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
  padding: 0 9vw;
}
